@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-12 command-type">
        <form method="post" class="form-horizontal">
            <div class="form-group">
                <label asp-for="@Model.isAbTesting" class="col-md-2 control-label">AB Testing mode</label>
                <div class="col-md-10">
                    <input asp-for="@Model.isAbTesting" class="form-control" />
                </div>
                <label asp-for="@Model.isWorkersBusy" class="col-md-2 control-label">Workers busy</label>
                <div class="col-md-10">
                    <input asp-for="@Model.isWorkersBusy" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
	<div class="col-md-12 app-counter">
	    @if (@Model.Counter != null)
        {
            <h1 id="content" data-url='@Url.Action("GetData", "Application", null)'>Data: @Model.Counter</h1>
        }
	</div>
    @foreach (var application in Model.Applications)
    {
        <div class="col-md-12 app-type">
            <h1>Node Name: @application.Key</h1>
            <ul>
                @foreach (var item in application)
                {
                    <li class="app">
                        <h3>Application Id: @item.ApplicationId</h3>
                        <h3>Application Type: @item.ApplicationType</h3>
                    </li>
                }
            </ul>
        </div>
    }
</div>